*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: inherit;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-size: inherit;
  font-weight: inherit;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
}

p a {
  display: inline;
}

img,
video,
iframe {
  display: block;
  max-width: 100%;
  width: 100%;
  object-fit: cover;
  object-fit: fill;
}

svg {
  display: block;
  fill: currentColor;
}

form,
input,
textarea,
label,
button,
fieldset,
legend,
select {
  display: block;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  background-color: transparent;
}

:root {
  font-size: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 3rem;
  color: #777;
  padding: 1.875rem;

  box-sizing: border-box;

  /* --font-main:'Raleway', sans-serif;/*Tipografia principal*/
  /* --font-sec: 'Poppins', sans-serif;/*Tipografia secundaria*/
  /* --bg-color:  #dddbcb; Color background principal */
  /* --main-color:  #fffffa; Color principal de textos grandes y otras cosas */
  /* --text-color: #101314;   Color principal de textos parrafos y otras cosas */
  /* --acent-color: #ff0080; Color principal tipo "acento" */
}

/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

.header {
  height: 95vh;
  position: relative;

  background-image: linear-gradient(
      to right bottom,
      hsla(111, 55%, 64%, 0.8),
      hsla(160, 64%, 43%, 0.8)
    ),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: top;

  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.header__logo-box {
  width: 5rem;
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
}

.logo {
  height: 2.1875rem;
}

.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
}

.heading-primary--main {
  width: 100%;

  display: block;
  font-size: 3.75rem;
  font-weight: 400;
  letter-spacing: 2.1875rem;
  animation: moveInLeft 2s ease-out;
}

.heading-primary--sub {
  width: 100%;

  display: block;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 1.1rem;
  animation: moveInRight 2s ease-out;
  margin-bottom: 3.75rem;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-6.25rem);
  }
  80% {
    transform: translateX(0.625rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(6.25rem);
  }
  80% {
    transform: translateX(-0.625rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(1.875rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.9375rem 2.5rem;
  border-radius: 6.25rem;
  display: inline-block;
  transition: all 0.2s;
  position: relative;
}

.btn:hover {
  transform: translateY(-0.1875rem);
  box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-0.0625rem);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn--white {
  background-color: #fff;
  color: #777;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn--white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scale(1.5);
  opacity: 0;
}

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

/* * {
  margin: 0;
  padding: 0;
}

$color-primary: #f9ed69; //yellow color
$color-secondary: #f08a5d;
$color-tertiary: #b83b5e;
$color-text-dark: #333;
$color-text-light: #eee;

$width-button: 150px;

nav {
  margin:30px;
  background-color: $color-primary;
  
  &::after {
  content: "";
  clear: both;
  display: table;
  }
}

.navigation {
  list-style: none;
  float: left;
  li {
    display: inline-block;
    margin-left: 30px;
    
    &:first-child {
    margin: 0;
  }
    a:link {
      text-decoration: none;
      text-transform: uppercase;
      color: $color-text-dark;
    }
 }  
}

.button {
  float: right;
}

.btn-main:link,
.btn-hot:link {
  padding: 10px;
  display: inline-block;
  text-align: center;
  border-radius: 100px;
  text-decoration:none;
  text-transform: uppercase;
  width: $width-button;
  color: $color-text-light;
}

.btn-main {
  &:link {
    background-color: $color-secondary;
  }
  &:hover{
    background-color: darken($color-secondary, 15%);
  }
}

.btn-hot {
  &:link {
    background-color: $color-tertiary;
  }
  &:hover{
    background-color: lighten($color-tertiary, 10%);
  }
} */
