.navigation {
  &__checkbox {
    display: none;
  }
  &__button {
    background-color: $color-white;
    height: 5rem;
    width: 5rem;
    position: fixed;
    top: 4rem;
    right: 3.5rem;
    border-radius: 50%;
    z-index: 13;
  }
  &__background {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    position: fixed;
    top: 4rem;
    right: 4rem;
    z-index: 11;

    transform: scale(80);

    background-image: radial-gradient(
      $color-primary-light,
      $color-primary-dark
    );
  }
  &__nav {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;
  }
  &__list {
    color: $color-white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  &__item {
    margin: 1rem;
  }
  &__link {
    &:link,
    &visited {
      display: inline-block;
      font-size: 2rem;
      font-weight: 300;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      padding: 0.5rem 1rem;
      background-image: linear-gradient(
        120deg,
        transparent 0,
        transparent 50%,
        $color-white 50%
      );
      background-size: 220%;
      transition: all 0.5s;

      span {
        margin-right: 1.5rem;
        display: inline-block;
      }
    }
    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary;
      transform: translateX(1rem);
    }
  }
}
