.navigation {
  &__checkbox {
  }
  &__button {
  }
  &__background {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    position: fixed;
    top: 6rem;
    right: 6rem;

    background-image: radial-gradient(
      $color-primary-light,
      $color-primary-dark
    );
  }
  &__nav {
  }
  &__list {
  }
  &__item {
  }
  &__link {
  }
}
