.composition {
  position: relative;
  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    border-radius: 0.3125rem;
    outline-offset: 1rem;
    position: absolute;
    z-index: 10;
    transition: all 0.2s;

    &--p1 {
      left: 0;
      top: -1rem;
    }
    &--p2 {
      right: 0;
      top: 1rem;
    }
    &--p3 {
      left: 20%;
      top: 8rem;
    }

    &:hover {
      outline: 0.625rem solid $color-primary;
      transform: scale(1.15) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
      z-index: 20;
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.9);
  }
}
