body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 3rem;
  color: $color-grey-dark;
  padding: 1.875rem;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;

  &--main {
    width: 100%;

    display: block;
    font-size: 3.75rem;
    font-weight: 400;
    letter-spacing: 2.1875rem;
    animation: moveInLeft 2s ease-out;
  }

  &--sub {
    width: 100%;

    display: block;
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: 1.1rem;
    animation: moveInRight 2s ease-out;
    margin-bottom: 3.75rem;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.125rem;
  transition: all 0.2s;

  &:hover {
    transform: skewY(5deg) skewX(5deg);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  }
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}
.paragraph {
  font-size: 1.6rem;

  &:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}
